@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Set the color of the scrollbar thumb */
  border-radius: 10px; /* Optional: make the thumb rounded */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker color when hovering */
}

.loginPlanet{
  background-image: url('./assets/Planet.gif');
  background-size: cover; /* Ensures the image covers the div */
  background-position: center; /* Centers the image */
}

.login:hover{
  box-shadow: 0 0 83.5px 10px #e5aeae7c;
}

.pageNotFound{
  background-image: url('./assets/Night_Sky.gif');
  background-position: center;
  background-size: cover;
}

.planets-bg{
  background-image: url("./assets/PurpleNight.gif");
  background-position: center;
  background-size: cover;
}